@page "{suggestionId:guid}"
@using Microsoft.AspNetCore.Mvc.ModelBinding.Validation
@model CodeStuff.Pages.Suggest.Details

@{
}

<partial name="Shared/AddCommentModal" />

<div class="d-flex">
    <h2>Details for @Model.Detail.Topic</h2>
    <a class="ms-auto h2" asp-page="./Index"><i class="fa-regular fa-arrow-turn-down-left" title="Return to Suggestions"></i></a>
</div>
<div class="mb-2">@(string.IsNullOrWhiteSpace(Model.Detail.AdditionalDetails)?"No additional details":Model.Detail.AdditionalDetails)</div>
<div class="mb-2">Suggested by @Model.Detail.SuggestedBy</div>

<div class="mt-2">
    <h4>Comments</h4>
    @if (Model.Detail.Comments.Any())
    {
        <div class="ms-n4 mb-3">
            <partial name="_CommentLayer" model="@((Model.Detail.SuggestionId, Model.Detail.Comments.ToLookup(c => c.InReplyTo)))"/>
        </div>
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCommentModal">Start a Thread</button>
    }
    else
    {
        <div>There are no comments on this proposal yet. 
            <a href="#" data-bs-toggle="modal" data-bs-target="#addCommentModal">Start the conversation</a> by adding the first comment.</div>
    }
</div>

@section scripts
{
    <script src="scripts/shared/addComment.js"></script>
}